@import "mixins";
.header {
  background-color: $headerColor;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: height 300ms;
}

.navigation-bar {
  @include layout();
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarwrapper {
  display: none;
  overflow: hidden;
  padding-right: 20px;

  a {
    letter-spacing: 1.2px;
    float: left;
    color: $gray;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
  }
}

.dropdownwrapper {
  float: left;
  width: 120px;
  overflow: hidden;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropbtn {
  p {
    margin: 0;
  }
  .drop-icon {
    height: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.dropbtn,
.navbarwrapper a {
  display: flex;
  align-items: center;
  height: 50px;
  font-weight: bold;
  font-size: 10px;
}

.dropdownwrapper .dropbtn {
  font-size: 10px;
  letter-spacing: 1.2px;
  border: none;
  outline: none;
  color: $gray;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdownwrapper a:hover {
  color: $accent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $bgColorBlack;
  border: 1px solid $headerColor;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: $gray;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
}

.dropdown-content {
  display: none;
}

.menu-iconbtn {
  @include flexCenter();
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.menu-icon {
  height: 14px;
}

.close-icon {
  display: none;
  font-size: 45px !important;
  color: $gray;
}

.logo {
  height: 16px;
}

.logo-img,
.logo-img-mobile {
  height: 16px;
  padding: 0 20px;
}

.logo-img {
  display: none;
}

.buybtn-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  padding: 10px;
}

.buybtn {
  float: left;
  margin-left: 20px;
  height: 50px;
  display: flex;
  padding: 8px 0px;

  button {
    padding: 0px 30px;
    outline: none;
    color: $headerColor;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    background-color: $accent;
    cursor: pointer;
    font-size: 0.6em;
    letter-spacing: 1px;
    user-select: none;
    &:active {
      background-color: darken($accent, $amount: 10%);
    }
  }
}

.icon-forward {
  height: 40px;
  transform: rotate(-90deg);
}

.headsetAudio {
  width: 220px;
}

.headset-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: $bgColorBlack;
  width: 220px;
  border: 1px solid $headerColor;
}

.headset-link-wrapper:hover > a {
  color: $accent;
}

.headset-link-wrapper {
  &:hover {
    .headset-menu {
      display: block;
    }
  }
}

.menu-titles {
  display: none;
  margin: 0 20px;
  color: $gray;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 18px;
  img {
    height: 40px;
    width: 40px;
    margin-left: -15px;
    margin-top: -3px;
    transform: rotate(90deg);
  }
  span {
    margin-left: -10px;
  }
}

// mobile

@media only screen and (max-width: 767px) {
  .logo {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .menu-iconbtn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .logo-img {
    display: none;
  }
  .logo-img-mobile {
    display: block;
  }
  .header {
    height: 50px;
    overflow: hidden;
  }
  .navigation-bar {
    display: block;
    width: 100%;
    height: 100%;
  }

  .navbarwrapper {
    display: block;
    position: fixed;
    margin-left: 100%;
    top: 50px;
    bottom: 0;
    background-color: $headerColor;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    transition: margin-left 300ms;
    overflow-y: auto;
    a {
      &:hover {
        color: $accent;
      }
    }

    .dropdownwrapper {
      float: none;
      width: 100%;
      // padding-left: 20px;
    }

    a {
      // background-color: red;
      float: none;
      padding-left: 20px;
      width: 100%;
    }

    a,
    .dropbtn {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
    }

    .dropdownwrapper div button {
      padding: 0;
      width: 100%;
      p {
        padding-left: 20px;
      }
      .drop-icon {
        transform: rotate(-90deg);
        top: 0;
        height: 50px;
      }
    }

    .dropdownwrapper .dropdown-content {
      display: block;
      width: 100%;
      padding-top: 10px;
      margin-left: 100%;
      position: fixed;
      top: 50px;
      bottom: 0;
      border: none;
      background-color: $headerColor;
      transition: margin-left 300ms;
      overflow-y: auto;
    }

    .buybtn {
      @include flexCenter();
      height: auto;
      width: 100%;
      margin: 0;
      padding: 0;

      button {
        height: 56px;
        width: 100%;
        margin: 50px 20px;
        border-radius: 28px;
        font-size: 14px;
      }
    }
  }

  .headset-menu {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    background-color: $headerColor;
    margin-left: 100%;
    top: 50px;
    left: 0;
    transition: margin-left 300ms;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 50px !important;
  }

  .menu-titles {
    display: none !important;
  }

  .navbarwrapper {
    display: block;
  }
  .logo {
    height: auto;
  }
  .logo-img {
    display: block;
  }
  .logo-img-mobile {
    display: none !important;
  }
  .menu-mobile {
    display: none;
  }
  .menu-iconbtn {
    display: none;
  }
}
