@import "variables";

.immersion-section {
  background-image: url(../assets/Mobile/assets/Mobile/banner.png);
  height: 550px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;

  .content {
    @include layout();
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;

    .wrapper-immersion {
      height: auto;
      width: 100%;

      .text {
        max-width: 400px;

        .immersion-title {
          font-size: 28px;
          color: white;
        }

        p {
          font-size: 14px;
          color: $gray;
          margin-top: 10px;
          line-height: 20px;
        }
      }

      .images {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        img {
          height: 70px;
        }

        .razer-nari-logo {
          margin-top: 30px;
          margin-right: -32px;
          display: none;
          height: 130px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .immersion-section {
    height: 500px;
    background-image: url(../assets/Desktop/JPG/razer-nari-hero-desktop-wireless-gaming-headset-CL.jpg);

    .content .wrapper-immersion {
      .text {
        max-width: 520px;

        .immersion-title {
          font-size: 34px;
        }

        .immersion-content {
          font-size: 14px;
          line-height: 25px;
        }
      }

      .images {
        & > div {
          .thx-logo,
          .chroma-logo {
            height: 90px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .immersion-section {
    .content {
      .wrapper-immersion {
        margin-top: 20px;

        .text {
          .immersion-title {
            font-size: 36px;
          }

          .immersion-content {
            font-size: 14px;
            line-height: 25px;
          }
        }

        .images {
          & > div {
            .thx-logo,
            .chroma-logo {
              height: 90px;
            }
          }

          .razer-nari-logo {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .immersion-section .content {
    padding: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .immersion-section {
    height: 600px;
  }
}
