@import "variables";
@import "mixins";

.menu-mobile {
  width: 100%;
  margin-left: 100%;
  min-height: 100vh;
  background-color: $bgColorBlack;
  color: $gray !important;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: margin-left 400ms;

  .menu-bar {
    @include flexSpaceBEtween();
    padding-left: 20px;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: $bgColorBlack;
    color: $gray;
    z-index: 900;

    .close-btn {
      @include flexCenter;
      padding: 0px 20px;
      height: 100%;
      user-select: none;

      i {
        font-size: 25px;
      }
    }

    .products-title {
      display: flex;
      align-items: center;
      margin-left: -20px;
    }
  }
  .menu-body {
    padding-top: 20px;
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: auto;

    button {
      @include flexSpaceBEtween();

      height: 60px;
      width: 100%;
      padding-left: 20px;
      font-weight: 500;
      font-size: 18px;
      text-decoration: none;
      border: none;
      color: $gray;
      user-select: none;
      background-color: $bgColorBlack;
      outline: none;

      &:focus {
        color: $accent;
      }
    }

    .buy-now-mobile {
      padding: 30px;
      .buy-now-mobile-btn {
        background-color: $accent;
        padding-left: 0;
        height: 65px;
        justify-content: center;
        border-radius: 40px;
        font-weight: bold;
        max-width: 500px;
        margin: 0 auto;
        font-size: 16px;
        color: $bgColorBlack;

        &:focus {
          color: $bgColorBlack;
        }

        &:active {
          background-color: rgba($accent, 0.8);
        }
      }
    }

    .icon-forward-mobile {
      padding: 0;
      height: 50px;
      margin-right: 8px;
    }
  }
}
